/*Formato para index.html y comunes para las demas*/
html, body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/*Primer banner de la página*/
nav{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    background-color: #0D0D0D;
    height:5.3rem;
}

.logo{
    grid-area: 1 / 1 / 2 / span 2; 
    text-align: center;  
    display: grid;
    align-items: center;
}
.logo img{
    height: 5rem;
    width: auto;
}
.LinksDerecha{
    grid-area: 1 / 7 / 2 / span 6;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    text-align: center;
    align-items: center;
}
.ABasico{
    grid-area: 1 / 1 / span 1 /span 2;  
    width: 16rem;
    height: 2.7rem;
    display: grid;
    align-items: center;
}
.AGold{
    grid-area: 1 / 3 / span 1 /span 2;
    width: 16rem;
    height: 2.7rem;
    display: grid;
    align-items: center;
}
.APremium{
    grid-area: 1 / 5 / span 1 /span 2;
    width: 16rem;
    height: 2.7rem;
    display: grid;
    align-items: center;
}

.LinksDerecha a{
    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.1rem;
}
.LinksDerecha a:hover{
    font-size: 1.3rem;
}
.ABasico:hover, .AGold:hover, .APremium:hover{
    background-color:#F28705;
    border: 1px solid #F28705;
    border-radius: 0.5rem;
}
/*Segunda seccion de la página*/
.SegParte{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: #F2F2F2; 
    align-items: center;
}
.SegParte h3{
    color: #0D0D0D;
    grid-area: 1 / 1 / span 1 / span 6; 
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}
.SegParte p{
    color: #010326;
    grid-area: 2 / 1 / span 1 / span 6; 
    text-align:justify;
    padding: 1.8rem;
    font-size: 1.5rem;
}
.SegParte h2{
    grid-area: 3 / 1 / span 1 / span 6; 
    text-align: center;
    font-size: 1.3rem;
}
.BotonContacto{
    background-color: #010326;
    color: #F2F2F2;
    border: 0.5rem solid #F2F2F2;
    border-radius: 1.5rem;
    text-decoration: none;
    padding: 1.2em 2.4em;
}
.BotonContacto:hover{
    background-color:#F28705;
    color:#F2F2F2;

}
.SegParteImg{
    grid-area: 1 / 7 / span 3 / span 6; 
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.SegParteImg img{
    width: 90%;
    height: 90%; 

}
/*Tercera seccion de la página:clientes*/
.TerParte{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(8, 1fr);
    background-color: #734002; 
    column-gap: 2em;
    padding: 3em 2.5em;
    justify-items: center;
}
.TerParte .titulo{
    grid-area: 1 / 1 / span 1 / span 8;   
    display: grid;
    align-items: center;
    justify-items: center;
}
.TerParte h2{
    color: #F2F2F2;
    font-size: 2rem;
    text-transform: uppercase;
}
.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8{
    padding: 0.5em;
    border: 3px solid #F28705;
    border-radius: 50%;
    background-color:#F2F2F2;
    text-align: center;
    width: 90%;
    height: 90%;
    object-fit: fill;
}
.TerParte img{
    width: 75%;
    height: 75%;
    object-fit: fill;
    background-color:#F2F2F2;
    margin-top: 1em;
}
.C1{
    grid-area: 2 / 1 / span 1 / span 1;  
}
.C2{
    grid-area: 2 / 2 / span 1 / span 1;  
}
.C3{
    grid-area: 2 / 3 / span 1 / span 1;  
}
.C4{
    grid-area: 2 / 4 / span 1 / span 1;  
}
.C5{
    grid-area: 2 / 5 / span 1 / span 1;  
}
.C6{
    grid-area: 2 / 6 / span 1 / span 1;  
}
.C7{
    grid-area: 2 / 7 / span 1 / span 1;  
}
.C8{
    grid-area: 2 / 8 / span 1 / span 1;  
}
/*Cuarta seccion de la página:titulo servicios*/

.TituloServ{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #F2F2F2; 
}
.TituloServ p{
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: center;
    font-size: 1.7em;
    color: #010326;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2.5em;
    
}
/*Cuarta seccion de la página:Descripción servicios*/
.Servicios{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(16, 1fr);
    background-color: #F2F2F2; 
    color:#010326;
    padding-bottom: 2.5em;
}
#Img1 ,#Img2 ,#Img3{
    margin-top: 1.4em;
    margin-left: 2.5em;
    z-index: 5;
    height: 60%;
    width: 60%; 
}
#Img1{
    grid-area: 1 / 1 / span 3 / span 3; 
}
#Img2{
    grid-area: 1 / 6 / span 3 / span 3; 
}
#Img3{
    grid-area: 1 / 11 / span 3 / span 3; 
}
.Img{
    width: 100%;
    height: 50%;
    object-fit:fill;
    border: 5px solid #734002;
    border-radius: 50%;
}
.rectangulo1, .rectangulo2, .rectangulo3{
    display:grid;
    grid-template-rows: repeat(8, 0.25fr);
    grid-template-columns: repeat(6, 1fr);
    border: 5px solid #734002;
    border-radius: 10%;
    padding: 1.2em;
}
.rectangulo1{
    grid-area: 1 / 2 / span 3 / span 4; 
    margin-top: 4em;
}
.rectangulo2{
    grid-area: 1 / 7 / span 3 / span 4; 
    margin-top: 4em;
}
.rectangulo3{
    grid-area: 1 / 12 / span 3 / span 4; 
    margin-top: 4em;
}
.rectangulo1 .titulo, .rectangulo2 .titulo, .rectangulo3 .titulo{
    grid-area: 1 / 3 / span 2 / span 2; 
    text-align: right;
    font-size: 2.5em;
    margin-top: 0.6em;
}
.rectangulo1 .texto, .rectangulo2 .texto, .rectangulo3 .texto{
    grid-area: 3 / 1 / span 4 / span 6; 
    font-size: 1.3em;
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 1em;
}
.BotonServicios {
    grid-area: 7 / 2 / span 1 / span 4; 
    font-size: 1.2em;
    color: #F2F2F2;
    text-decoration: none;
    text-align: center;
    padding: 1.2em;
    background-color: #734002;
    border: 5px solid #734002;
    border-radius: 5px;
}
.BotonServicios:hover{
    color: #F2F2F2;
    background-color: #F28705;
    border: 5px solid #F28705;
    border-radius: 5px;
}


/*Quinta seccion de la página:Cifras*/
.Titulocifras{
    display:grid;
    grid-template-rows: repeat(2, 0.2fr);
    grid-template-columns: repeat(11, 1fr);
    background-color: #010326;
    color:#F2F2F2;
    padding: 3.5em;
}
.Titulocifras p{
    text-align: center;
    grid-area: 1 / 1 / span 1 / span 12; 
    margin: 1.2em;
    font-size: 2em;
}
.Titulocifras div{
    border: 2.5px solid #F28705;
    border-radius: 50%;
    font-size: 0.2fr;
    text-align: center;
    padding: 1.2em;
}
.Titulocifras .cifras{
    height: 12rem;
    width: 12rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
#unidades{
    grid-area: 2 / 2 / span 1 / span 1;
}
#nclientes{
    grid-area: 2 / 6 / span 1 / span 1;  
}
#nproyectos{
    grid-area: 2 / 10 / span 1 / span 1;  
}

/*Sexta seccion de la página:FOrmulario*/
form{
    display:grid;
    background-color: #F2F2F2;  
    padding: 4rem;
    align-items: center;
    justify-items: center;
}
#FormRect{
    background-color: #0D0D0D;  
    width: 100%;
    color:#F2F2F2;
    display:grid;
    grid-template-rows: repeat(11, 0.5fr);
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid #010326;
    border-radius: 1.5rem;
}
#FormRect h2{
    grid-area: 2 / 2 / span 2 / span 8;  
    font-size: 2rem;
}
#FormName{
    grid-area: 4 / 2 / span 1 / span 3; 
    outline: none;
    font-size: 1.2rem;
}
#FormName:focus, #FormCorreo:focus, #FormMensaje:focus{
    border: 0.2rem solid #F28705;
}
#FormCorreo{
    grid-area: 4 / 6 / span 1 / span 4; 
    outline: none;
    font-size: 1.2rem;
}
#FormMensaje{
    grid-area: 6 / 2 / span 3 / span 8; 
    font-size: 1.2rem;
    resize: none;
    outline: none;
}
#FormEnviar{
    grid-area: 10 / 8 / span 1 / span 2; 
    font-size: 1.2rem;
}
#FormEnviar:hover{
    background-color:#F28705;
    color:#F2F2F2;
}
#FormRect input, #FormRect textarea{
    border: 1px solid #010326;
    border-radius: 5px;
}
/*ultima parte*/
footer{
    display:grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr); 
    background-color: #F28705;
    color: #0D0D0D;
}
#FooterImg{
    grid-area: 1 / 1 / span 1 / span 2; 
    display: grid;
    align-items: center;
    justify-items: center;
}
#FootContacto, #MapaSitio{
    list-style: none;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 0%;
}
#FootContacto{
    grid-area: 1 / 6 / span 1 / span 2; 
}

#MapaSitio{
    grid-area: 1 / 11 / span 1 / span 2;  
}
footer li{
    padding-bottom: 0.6rem;
}
.FooterTituloList{
    font-weight: bold;
}
#FootDerechos,#FooterPrivacy{
    display:grid;
    align-items: center;
    justify-items: center;
    background-color:#0D0D0D;
    color: #F2F2F2;
}
#FooterPrivacy a{
    text-decoration: none;
    color: #F2F2F2;
}
#FooterPrivacy a:hover{
    color: #F28705;
}
#FootDerechos p{
    grid-area: 1 / 1 / span 1 / span 12; 
    padding: 0.9rem;
}
#FooterTerm{
    grid-area: 1 / 1 / span 1 / span 6;  
    padding: 0.3rem;
    text-align: left;
    padding-left: 1rem;
}
#FooterPolit{
    grid-area: 1 / 7 / span 1 / span 6;  
    padding:0.3rem;
    text-align: right;
    padding-right: 1rem;
}
footer a{
    text-decoration: none;
    color: #0D0D0D;
}
.FooterBotonContacto:hover{
    color:#F2F2F2;
}
@media only screen and (max-width: 480px){
    nav{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        height:5.3rem;
    }
    .logo{
        grid-area: 1 / 1 / 2 / span 1; 
    }
    .logo img{
        height: 3rem;
        width: auto;
        margin-left: 0.8rem;
    }
    .LinksDerecha{
        grid-area: 1 / 2 / 2 / span 3;
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }
    .ABasico{
        grid-area: 1 / 1 / span 1 /span 1;  
        width: 4rem;
    }
    .AGold{
        grid-area: 1 / 2 / span 1 /span 1;
        width: 4rem;
        }
    .APremium{
        grid-area: 1 / 3 / span 1 /span 1;
        width: 4rem;
    }
    .LinksDerecha a{
        font-size: 0.9rem;
    }
    .LinksDerecha a:hover{
        font-size: 0.9rem;
    }
    .ABasico:hover, .AGold:hover, .APremium:hover{
        background-color:#0D0D0D;
        border: none;
        border-radius: none;
    }
    /*Segunda seccion de la página*/
    .SegParte{
        display:grid;
        grid-template-rows: repeat(8, 0.3fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .SegParte h3{
        grid-area: 2 / 1 / span 1 / span 4; 
        font-size: 1.8rem;    
        padding-top:0%;
        margin-top: 0%;
    }
    .SegParte p{
        grid-area: 6 / 1 / span 1 / span 4; 
        padding: auto 1rem;
        font-size: 1.4rem;
    }
    .SegParte h2{
        grid-area: 7 / 1 / span 1 / span 4; 
    }
    .BotonContacto{
        padding: 0.8em 0.9em;
    } 
    .SegParteImg{
        grid-area: 4 / 1 / span 1 / span 4; 
        display: grid;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }
    .SegParteImg img{
        width: 90%;
        height: 90%; 
    
    }
    /*Tercera seccion de la página:clientes*/
    .TerParte{
        display:grid;
        grid-template-rows: repeat(9, 0.3fr);
        grid-template-columns: 1fr;
        padding: 3em 2.5em;
        justify-items: center;
    }
    .TerParte .titulo{
        grid-area: 1 / 1 / span 1 / span 1;   
    }
    .TerParte h2{
        font-size: 1.2rem;
    }
    .C1{
        grid-area: 2 / 1 / span 1 / span 1;  
    }
    .C2{
        grid-area: 3 / 1 / span 1 / span 1;  
    }
    .C3{
        grid-area: 4 / 1 / span 1 / span 1;  
    }
    .C4{
        grid-area: 5 / 1 / span 1 / span 1;  
    }
    .C5{
        grid-area: 6 / 1 / span 1 / span 1;  
    }
    .C6{
        grid-area: 7 / 1 / span 1 / span 1;  
    }
    .C7{
        grid-area: 8 / 1 / span 1 / span 1;  
    }
    .C8{
        grid-area: 9 / 1 / span 1 / span 1;  
    }
    .C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8{
        width: 12rem;
        height: 12rem;
        margin-bottom: 1.4rem;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .TerParte img{
        width: 60%;
        height: 60%;
        margin-top: 0%;
    }
    /*Cuarta seccion de la página:titulo servicios*/
    .TituloServ p{
        font-size: 1.6em;
        margin-top: 2.5rem;
        padding: 0.5rem 1.9rem;
    }
    /*Cuarta seccion de la página:Descripción servicios*/
    .Servicios{
        display:grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 2.5em;
    }
    #Img1{
        grid-area: 1 / 1 / span 1 / span 1; 
    }
    #Img2{
        grid-area: 2 / 1 / span 1 / span 1; 
    }
    #Img3{
        grid-area: 3 / 1 / span 1 / span 1; 
    }
    .Img{
        width: 8rem;
        height: 8rem;
    }
    .rectangulo1, .rectangulo2, .rectangulo3{
        padding: 1.2rem;
        margin: 1.5rem;
    }
    .rectangulo1{
        grid-area: 1 / 1 / span 1 / span 4; 
    }
    .rectangulo2{
        grid-area: 2 / 1 / span 1 / span 4; 
    }
    .rectangulo3{
        grid-area: 3 / 1 / span 1 / span 4; 
    }
    .rectangulo1 .titulo, .rectangulo2 .titulo, .rectangulo3 .titulo{
        margin-left: 1.9rem;
    }
    /*Quinta seccion de la página:Cifras*/
    .Titulocifras{
        display:grid;
        grid-template-rows: repeat(4, 0.2fr);
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    .Titulocifras p{
        text-align: center;
        grid-area: 1 / 1 / span 1 / span 4; 
        margin: 1.2em;
        font-size: 1.5rem;
    }
    .Titulocifras .cifras{
        height: 10rem;
        width: 10rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    #unidades{
        grid-area: 2 / 1 / span 1 / span 4;
        margin-bottom: 1.5rem;
    }
    #nclientes{
        grid-area: 3 / 1 / span 1 / span 4;  
        margin-bottom: 1.5rem;
    }
    #nproyectos{
        grid-area: 4 / 1 / span 1 / span 4;  
        margin-bottom: 1.5rem;
    }
    form{
        padding: 1.3rem;
    }
    #FormRect{
        display:grid;
        grid-template-rows: repeat(10, 0.5fr);
        grid-template-columns: repeat(4, 1fr);
    }
    #FormRect h2{
        grid-area: 1 / 1 / span 1 / span 4;  
        font-size: 1.5rem;
        margin: 1.2rem;
        text-align: center;
    }
    #FormName{
        grid-area: 2 / 1 / span 1 / span 4; 
        font-size: 1.2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    #FormCorreo{
        grid-area: 4 / 1 / span 1 / span 4; 
        font-size: 1.2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    #FormMensaje{
        grid-area: 6 / 1 / span 2 / span 4; 
        font-size: 1.2rem;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
    #FormEnviar{
        grid-area: 9 / 2 / span 1 / span 2; 
        font-size: 1.2rem;
    }
    /*ultima parte*/
    footer{
        display:grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr); 
    }
    #FooterImg{
        grid-area: 1 / 1 / span 1 / span 2; 
        padding: 1.2rem;
    }
    #FootContacto{
        grid-area: 1 / 3 / span 1 / span 2; 
    }

    #MapaSitio{
        display: none;
    }

    #FootDerechos p{
        grid-area: 1 / 1 / span 1 / span 4; 
        font-size: 0.9rem;
    }
    #FooterTerm{
        grid-area: 1 / 1 / span 1 / span 2;  
        font-size: 0.8rem;
    }
    #FooterPolit{
        grid-area: 1 / 3 / span 1 / span 2;  
        font-size: 0.8rem;
    }
}